# Configurações da Rádio (Secrets)
VITE_RADIO_NAME=Shekinah Fm
VITE_RADIO_STREAM_URL=http://stm6.voxhd.com.br:6780/;
VITE_RADIO_GENRE=Gospel
VITE_STATION_LOCATION=Bertioga - SP
VITE_RADIO_LOGO_URL=https://i1.sndcdn.com/avatars-000304126092-ysdpwc-t240x240.jpg
VITE_WHATSAPP_NUMBER=5514998793983
VITE_INSTAGRAM_URL=
VITE_FACEBOOK_URL=
VITE_STUDIO_VIDEO_URL=https://stmv1.servslider.com.br/paulomiguel1453/paulomiguel1453/chunklist_w1217212530.m3u8
RADIO_CURRENT_SONG_URL=http://stm6.voxhd.com.br:6780/currentsong?sid=1
RADIO_STATS_URL=http://stm1.voxpainel.com.br:7076/stats?sid=&json=1
